body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

/*Header*/

.header {
  height: 50px;

}

.titleText {
  display: inline-flex;
  justify-content: space-between;
}


/*SideBar */

.sideBarView {
  width: 25%;
  height: calc(100vh - (50px));
  display: inline-block;
}


/*Map*/

.mapBox {
  position: absolute;
  top: 0;
  left: 25%;
  display: inline-block;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 50px;
  width:75%;
  height: 100vh;
  /*height: calc(100vh - (10px));*/
  box-sizing: content-box;
}
